body{
    width:100%;
    margin-auto;
}

#logo_container{
    display:inline-block;
    width:400px;
}

#share_bar{
    display:inline-block;
    width:200px;
    padding-left:80px;
    float:right;

}

#share_text{
    color:gray;

}

#top_bar{
    margin-top:10px;
}

#search_bar_container{
    margin-top:20px;
    width:300px;
    padding:10px;
    display:inline;
}

#searchbar{
    width:65%;
    margin:5px;
}


#snarky_comment{
    position:relative;
    display:inline-block;
    width:80px;
    height:250px;
    clear:both;
    float:right;
    padding-right:30px;
    text-align:center;
}

.search_btn{
    background:none;
    border:none;
    font-color:#FFFFFF;
    font-weight:bold;
    font-size: 25px;
    position:absolute;
    display: block;
    z-index: 2;
    top:250px;
}

#search_result{
    background-size:100% 100%;
    background-repeat: no-repeat;
    width:850px;
    padding: 35px;
}

#search_result_title{
    display:inline-block;
    margin-top:15px;
    padding: 10px;
    width:650px;
    line-height:38px;
    font-size:35px;
    font-weight:bold;
}

#search_result_artist{
    display: inline-block;
    margin-top:15px;
    font-size:45px;
}

#artist_info{
    margin-top:50px;
    margin: 40px;
}

#artist_photo{
    display:inline;
    margin:5px;

}

#left_button_container{
    z-index:2;
    position:relative;
    background-color: none;
    display: block;
    float:left;
    text-align:left;
    left:-55px;
    top: 50px;
}

#right_button_container{
    z-index:2;
    position:relative
    float:right;
    top:500px;
    margin-left:850px;

}

.clearer{
    clear:both;
}

#splash_intro{
    margin-top:50px;
    padding:10px;

}

#search_submit{
    display:inline;
    width:130px;
    height:35px;
    background-size:100% 100%;
    background-repeat: no-repeat;

}
