<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Project{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Le styles -->
  <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}css/base.css" rel="stylesheet">
  <style>
    body {
      padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    }
  </style>
  <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  <!-- Le fav and touch icons -->
</head>

<body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">Hipp)n(est</a>
        <div class="nav-collapse">
          <ul class="nav">
          {% block nav %}
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
          {% endblock nav %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

  <div class="container-fluid">
  {% block content %}
  <div id = "share_bar" class = "row">
    <a title = "Share on Facebook!"
      href = "http://www.facebook.com/sharer.php?u=www.hippnest.me"
      target = "_blank">
      <span>
        <img width ="30" height="30" src= "{{STATIC_URL}}img/fb.gif" alt="Facebook" />
      </span>
    </a>
    <a title = "Share on Reddit! Get that sweet, sweet karma"
      href = "http://www.reddit.com/submit?title=Found this awesome band on Hipp)n(est!&url=http://www.hipnest.me"
      target = "_blank">
      <span>
        <img width ="30" height="30" src= "{{STATIC_URL}}img/reddit.png" alt="Reddit" />
      </span>
    </a>
    <a title = "Tweet me!"
      href ="https://twitter.com/intent/tweet?text=Found%20an%20awesome%20new%20band%20exploring%20Hipp)n(est!&url=http%3A%2F%2Fwww.hippnest.me&via=Hipp)n(est" 
      target = "_blank">
      <span>
        <img width ="30" height="30" src= "{{STATIC_URL}}img/Twitter.png" alt="Twitter" />
      </span>
    </a>
    </div>
    <div id = "top_bar" class = "row">
      <div id = "search_bar" class="span4">
	<input type="text" class="span3" id="searchbar" data-provide="typeahead" data-items="4" />
      </div>
      <div id = "snarky_comment" class="span8">SNARKY COMMENT</div>
    </div>
    <div class = "row">
      <div class = "span1">
	<button id = "left_button" class = "btn search_btn"> &lt;&lt; </button>
      </div>
      <div id = "search_result" class = "span10" style = "height:500px; border: 1px solid;">
	This is where artist information would be -- change style later
	<div id="artist_info">
	  SEARCH RESULT ABOUT ARTIST
	</div>
      </div>
      <div class = "span1">
	<button id = "right_button" class = "btn search_btn"> &gt;&gt; </button>
      </div>
    </div>
    <div class = "row">
     <div id = "bottom_arrow" class = "span12">bottom_arrow</div>
   </div>
   

  {% endblock content %}
  </div> <!-- /container -->


  <!-- Le javascript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="{{ STATIC_URL }}js/jquery.js"></script>
  <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
  <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
  <script src="{{ STATIC_URL }}js/suggest.js"></script>
  
  <script>
    $('#searchbar').typeahead({
      source : function (query, process) {
        var artistNames = []
        var data = {}
        $.ajax({
            url : 'http://developer.echonest.com/api/v4/artist/suggest?' +
                   'api_key={{ echonest_api_key }}&' +
                   'name=' + query,
            data : "{}",
            dataType : "json",
            success : function(result) {
              console.log(result);
              if (result.response.artists){
                $(result.response.artists).each( function(index, artist){
                  artistNames.push(artist.name);
                });
                process(artistNames);
              }
            }
      });
      }
    });
  </script>

</body>

</html>

